body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-text {
  background: -webkit-linear-gradient(rgb(202, 219, 101), rgb(56, 6, 238));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  .setting-position{
    left: 10px;
  }
}
@media screen and (min-width: 800px) {
  .setting-position{
    right: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .setting-position{
    right: 500px;
  }
}